<style type="text/css">
    /*AIF_F*/
    .codebar {

        font-family: Code39Azalea;
        font-size: 20px;
    }

    /*Head*/
    .AIF_F_head {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;
    }

    .tc {
        text-align: center;
    }

    .AIF_F_head_title {
        font-weight: bold;
        color: #002642;
        font-size: 15pt;
    }

    /*table*/
    .AIF_F_main {
        width: 100%;
    }

    .AIF_F_main_row {
        display: flex;
        width: 100%;
    }

    .AIF_F_main_row div:nth-child(1) {

        width: 55%;
    }

    .AIF_F_main_row div:nth-child(n+2) {
        width: 15%;
    }

    .sub-item {
        padding-left: 10px;
    }

    .AIF_F_head_dateManufacture {
        border: 1px solid #002642;
    }

    .AIF_F_head_dateManufacture_title {
        background: #002642;
        color: white;
        padding: 5px 10px;
    }

    .AIF_F_main_titles {
        padding: 5px;
        text-align: center;
        font-weight: bold;
        background: #002642;
        color: white;

    }

    .AIF_F_main_group {
        padding: 5px;
        background: #1C415C;
        margin-bottom: 5px;
        color: white;

    }



    .amount {
        text-align: right;
        padding-right: 5px;
    }

    .elementosGroups {
        padding-left: 5px;
        color: #2B658F;
        font-weight: bold;
    }

    .elementos {
        padding-left: 15px;

    }

    .monto {
        padding: 5px;
        background: #2B658F;
        color: white;
        margin-bottom: 5px;
    }

    .totals {
        background: #6187A2;
        padding: 5px;
        color: white;
    }
</style>

<div class="sheet-dynamic">
    <div class="AIF_F_head">

        <div class="AIF_F_head_logo">
            <img class="logo-gobierno" src="../assets/images/gobierno.jpg" alt="">
        </div>

        <div class="AIF_F_head_title tc">
            <p> Cuenta Ahorro - Inversión - Financiamiento</p>
            <p>Presupuesto {{presupuesto}}</p>
        </div>

        <div class="AIF_F_head_dateManufacture tc">
            <div class="AIF_F_head_dateManufacture_title">Fecha de Confección</div>
            <p> {{date "now" "dd/MM/yyyy"}} {{date "now" "hh:mm"}}</p>
        </div>

    </div>

    <div class="AIF_F_table">

        <div class="AIF_F_main_row AIF_F_main_titles">
            <div> </div>
            <div>Anualizado</div>
            <div>Anteproyecto</div>
            <div>Proyecto Ley</div>
        </div>



        <div class="AIF_F_main">
            {{#each montos}}
            {{#each groups}}
            <div class="AIF_F_main_row npb">
                <div class="AIF_F_main_group"> {{nombreGroup}} </div>
                <div class="AIF_F_main_group amount"> {{montoAnualizado}}</div>
                <div class="AIF_F_main_group amount"> {{montoAnteproyecto}}</div>
                <div class="AIF_F_main_group amount"> {{proyectoLey}}</div>
            </div>
            {{#each elementosGroups}}
            <div class="AIF_F_main_row npb ">
                <div class="elementosGroups"> {{elementosGroup}} </div>
                <div class="elementosGroups amount"> {{montoAnualizado}}</div>
                <div class="elementosGroups amount"> {{montoAnteproyecto}}</div>
                <div class="elementosGroups amount"> {{proyectoLey}}</div>
            </div>
            {{#each elementos}}
            <div class="AIF_F_main_row npb">
                <div class="elementos"> {{nombreElemento}} </div>
                <div class="elementos amount"> {{montoAnualizado}}</div>
                <div class="elementos amount"> {{montoAnteproyecto}}</div>
                <div class="elementos amount"> {{proyectoLey}}</div>
            </div>

            {{/each}}
            {{/each}}
            {{/each}}

            <div class="AIF_F_main_row  npb">
                <div class="totals"> {{montoName}} </div>
                <div class="totals"> {{montoAnualizado}}</div>
                <div class="totals"> {{montoAnteproyecto}}</div>
                <div class="totals"> {{proyectoLey}}</div>
            </div>

            {{/each}}
        </div>

    </div>


    <div class="codebar">
        12345
    </div>


</div>