<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="generator" content="BCL easyConverter SDK 5.0.252">
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.sheet-dynamic {
			margin-left: auto;
			margin-right: auto;
			width: 730px;
			min-height: 970px;
			margin: 40px;
		}
	
		/*############## head ##############  */
		.head {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}

		.head-title {
			padding-left: 50px;
			font-size: 14pt;
			font-weight: bold;
		}

		.head-l {
			width: 80%;
			display: flex;
			align-items: center;

		}

		.head-r {
			width: 20%;
			text-align: center;
			padding: 10px;

		}

		/*############## Filas ##############  */

		.filas {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 2fr 1fr;

		}
		.filas:nth-child(2n+1){
			background: lightgray;
		}

		.fila {
			padding: 5px 0px 5px 0px;
			text-align: center;
		}

		.fila-head {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 2fr 1fr;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			font-weight: bold;
			background: #000;
			text-align: center;
			color: white;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}	

		.fila-head-item {
			font-size: 10pt;
			padding-top: 5px;
			padding-bottom: 5px;

		}
		/*############## Img ##############  */

		#gobierno {
			width: 200px;
			height: 100px;
		}

		#imgLogo {width:150px;height:50px;}

		/*############## Img ##############  */


		.head-item {

			display: flex;
		}

		.head-bold {
			font-weight: bold;
			width: 150px;
		}

		.head-item-container {
			padding: 15px;
		}

	</style>
</head>

<body>

	<div class="sheet-dynamic">

		<div class="container">

			<div class="head">
				<div class="head-l">

					<img id="imgLogo" src="../assets/images/gobierno.png" alt="" >


					<div class="head-title">
						<p>{{poc}}</p>
					</div>

				</div>

				<div class="head-r">
					<p>Página 1 de 1</p>
					<p>Ejercicio: {{ejercicio}}</p>
					<p>{{date "now" "dd/MMMM/yyyy"}}</p>
				</div>

				<div class="head-l ">

					<div class="head-item-container">
						<div class="head-item">
							<div class="head-bold">Jurisdicción:</div>
							<div class="head-value">{{jurisdiccion}}</div>
						</div>

						<div class="head-item">
							<div class="head-bold">U. Administrativa:</div>
							<div class="head-value">{{unidadAdministrativa}}</div>
						</div>
						<div class="head-item">
							<div class="head-bold"> N° Sucursal:</div>
							<div class="head-value">{{sucursal}}</div>
						</div>
						<div class="head-item">
							<div class="head-bold">N° Cuenta:</div>
							<div class="head-value">{{nroCuenta}}</div>
						</div>
						<div class="head-item">
							<div class="head-bold">Tipo de Cuenta:</div>
							<div class="head-value">{{tipoCuenta}}</div>
						</div>
					</div>



				</div>
<!--
				<div class="head-r ">
					 fecha
				</div>
-->
			</div>

			<div class="fila-head">
				<div class="fila-head-item">Unidad Administrativa</div>
				<div class="fila-head-item">N° Sucursal</div>
				<div class="fila-head-item">N° Cuenta</div>
				<div class="fila-head-item">Estado</div>
				<div class="fila-head-item">Administración Central</div>
				<div class="fila-head-item">Nro. Apertura</div>
			</div>


			{{#each resumenCuentaCollection}}
			<div class="filas">
				<div class="fila">{{unidadAdministrativaResumen}}</div>
				<div class="fila">{{sucursalResumen}}</div>
				<div class="fila">{{nroCuentaResumen}}</div>
				<div class="fila">{{estadoResumen}}</div>
				<div class="fila">{{adminCentralResumen}}</div>
				<div class="fila">{{nroAperturaResumen}}</div>
			</div>
			{{/each }}
		</div>

	</div>
</body>

</html>